[submodule "libvcol"]
	path = libvcol
	url = https://github.com/indigoparadox/libvcol
[submodule "libtwin"]
	path = libtwin
	url = https://github.com/indigoparadox/libtwin
[submodule "isekai"]
	path = isekai
	url = https://github.com/indigoparadox/isekai
[submodule "camgraph"]
	path = camgraph
	url = https://github.com/indigoparadox/camgraph
[submodule "camin"]
	path = camin
	url = https://github.com/indigoparadox/camin
[submodule "mfat"]
	path = mfat
	url = https://github.com/indigoparadox/mfat
[submodule "chiipy"]
	path = chiipy
	url = https://github.com/indigoparadox/chiipy
[submodule "heatshrink"]
	path = heatshrink
	url = https://github.com/indigoparadox/heatshrink
[submodule "duktape"]
	path = duktape
	url = https://github.com/indigoparadox/duktape
